@model BiletKolay.Entity.Route

@{ var Price = Model.Price; }
@if (ViewBag.setNumber < 5)
{
    Price = Price * 1;
}
@if (ViewBag.setNumber > 5 && ViewBag.setNumber <= 10)
{
    Price = Price + Price * 0.10;
}
@if (ViewBag.setNumber > 10 && ViewBag.setNumber <= 15)
{
    Price = Price + Price * 0.20;
}
@if (ViewBag.setNumber > 15 && ViewBag.setNumber <= 20)
{
    Price = Price + Price * 0.30;
}
@if (ViewBag.setNumber > 20)
{
    Price = Price + Price * 0.40;
}


@{  
    var Price1 = @Price * 0.8;
    var Price2 = @Price * 0.7;
    var Price3 = @Price * 0.6;
    var Price4 = @Price * 0.5; 
    var Price5 = @Price * 0.45; 
    }

<div class="main-div">
    <div class="main-div-body">
        <div class="main-div-body-title">
            <h1>@TempData["startLocation"] - @TempData["endLocation"]</h1>
        </div>
        <div class="main-div-body-inline">
            <div class="main-div-body-inline-">
                <h4>@Model.StartLocation > @Model.EndLocation Aracı</h4>
                <hr />
                <p><b>Route: </b> @Model.StartLocation > @Model.FirstStation > @Model.SecondStation > @Model.ThirdStation > @Model.EndLocation</p><hr />
                <p>@Model.Date/@Model.Time</p>
                
                <input type="hidden" name="RouteId" value="@Model.RouteId" />
                @if ((@TempData["startLocation"].ToString() == @Model.StartLocation) && (@TempData["endLocation"].ToString() == @Model.EndLocation))
                {
                    <p style="text-align: right; font-size:26px;">@Model.Price ₺</p>
                    <input type="hidden" name="Price" value="@Model.Price" />}
                @if ((@TempData["startLocation"].ToString() == @Model.StartLocation) && (@TempData["endLocation"].ToString() == @Model.FirstStation))
                {
                    <p style="text-align: right; font-size:26px;">@Price2 ₺</p>
                    <input type="hidden" name="fiyat" value="@Price2" />}
                @if ((@TempData["startLocation"].ToString() == @Model.StartLocation) && (@TempData["endLocation"].ToString() == @Model.SecondStation))
                {
                    <p style="text-align: right; font-size:26px;">@Price3 ₺</p>
                    <input type="hidden" name="fiyat" value="@Price3" />}
                @if ((@TempData["startLocation"].ToString() == @Model.FirstStation) && (@TempData["endLocation"].ToString() == @Model.EndLocation))
                {
                    <p style="text-align: right; font-size:26px;">@Price1 ₺</p>
                    <input type="hidden" name="fiyat" value="@Price1" />}
                @if ((@TempData["startLocation"].ToString() == @Model.FirstStation) && (@TempData["endLocation"].ToString() == @Model.ThirdStation))
                {
                    <p style="text-align: right; font-size:26px;">@Price2 ₺</p>
                    <input type="hidden" name="fiyat" value="@Price2" />}
                @if ((@TempData["startLocation"].ToString() == @Model.FirstStation) && (@TempData["endLocation"].ToString() == @Model.SecondStation))
                {
                    <p style="text-align: right; font-size:26px;">@Price3 ₺</p>
                    <input type="hidden" name="fiyat" value="@Price3" />}
                @if ((@TempData["startLocation"].ToString() == @Model.FirstStation) && (@TempData["endLocation"].ToString() == @Model.StartLocation))
                {
                    <p style="text-align: right; font-size:26px;">@Price5 ₺</p>
                    <input type="hidden" name="fiyat" value="@Price5" />}
                @if ((@TempData["startLocation"].ToString() == @Model.SecondStation) && (@TempData["endLocation"].ToString() == @Model.EndLocation))
                {
                    <p style="text-align: right; font-size:26px;">@Price3 ₺</p>
                    <input type="hidden" name="fiyat" value="@Price3" />}
                @if ((@TempData["startLocation"].ToString() == @Model.SecondStation) && (@TempData["endLocation"].ToString() == @Model.ThirdStation))
                {
                    <p style="text-align: right; font-size:26px;">@Price5 ₺</p>
                    <input type="hidden" name="fiyat" value="@Price5" />}
                @if ((@TempData["startLocation"].ToString() == @Model.SecondStation) && (@TempData["endLocation"].ToString() == @Model.StartLocation))
                {
                    <p style="text-align: right; font-size:26px;">@Price4 ₺</p>
                    <input type="hidden" name="fiyat" value="@Price4" />}
                @if ((@TempData["startLocation"].ToString() == @Model.SecondStation) && (@TempData["endLocation"].ToString() == @Model.FirstStation))
                {
                    <p style="text-align: right; font-size:26px;">@Price5 ₺</p>
                    <input type="hidden" name="fiyat" value="@Price5" />}
                @if ((@TempData["startLocation"].ToString() == @Model.ThirdStation) && (@TempData["endLocation"].ToString() == @Model.EndLocation))
                {
                    <p style="text-align: right; font-size:26px;">@Price5 ₺</p>
                    <input type="hidden" name="fiyat" value="@Price5" />}
                @if ((@TempData["startLocation"].ToString() == @Model.ThirdStation) && (@TempData["endLocation"].ToString() == @Model.SecondStation))
                {
                    <p style="text-align: right; font-size:26px;">@Price5 ₺</p>
                    <input type="hidden" name="fiyat" value="@Price5" />}
                @if ((@TempData["startLocation"].ToString() == @Model.ThirdStation) && (@TempData["endLocation"].ToString() == @Model.StartLocation))
                {
                    <p style="text-align: right; font-size:26px;">@Price3 ₺</p>
                    <input type="hidden" name="fiyat" value="@Price3" />}
                @if ((@TempData["startLocation"].ToString() == @Model.ThirdStation) && (@TempData["endLocation"].ToString() == @Model.FirstStation))
                {
                    <p style="text-align: right; font-size:26px;">@Price4 ₺</p>
                    <input type="hidden" name="fiyat" value="@Price4" />}
                @if ((@TempData["startLocation"].ToString() == @Model.EndLocation) && (@TempData["endLocation"].ToString() == @Model.SecondStation))
                {
                    <p style="text-align: right; font-size:26px;">@Price3 ₺</p>
                    <input type="hidden" name="fiyat" value="@Price3" />}
                @if ((@TempData["startLocation"].ToString() == @Model.EndLocation) && (@TempData["endLocation"].ToString() == @Model.ThirdStation))
                {
                    <p style="text-align: right; font-size:26px;">@Price5 ₺</p>
                    <input type="hidden" name="fiyat" value="@Price5" />}
                @if ((@TempData["startLocation"].ToString() == @Model.EndLocation) && (@TempData["endLocation"].ToString() == @Model.StartLocation))
                {
                    <p style="text-align: right; font-size:26px;">@Price</p>
                    <input type="hidden" name="fiyat" value="@Price" />}
                @if ((@TempData["startLocation"].ToString() == @Model.EndLocation) && (@TempData["endLocation"].ToString() == @Model.FirstStation))
                {
                    <p style="text-align: right; font-size:26px;">@Price2 ₺</p>
                    <input type="hidden" name="fiyat" value="@Price2" />}


                <input type="hidden" name="startLocation" value="@TempData["startLocation"].ToString()" />
                <input type="hidden" name="endLocation" value="@TempData["endLocation"].ToString()" />



            </div>
            <form action="details" method="POST" style="display:inline;">
                <div class="">
                    

                    <div class="form-group">
                        <input type="text" name="firstName" class="form-control  mb-3" id="" aria-describedby="" placeholder="Ad Giriniz">
                    </div>
                    <div class="form-group">
                        <input type="text" name="lastName" class="form-control  mb-3" id="" aria-describedby="" placeholder="Soyad Giriniz">
                    </div>
                    <div class="form-group">
                        <input type="tel" name="PhoneNumber" class="form-control  mb-3" id="" aria-describedby="" placeholder="Telefon Numaranız" required="required">
                    </div>
                    <div class="form-group">
                        <select name="SeatNumber" class="form-select mb-3" asp-items="@ViewBag.SeatNumbers" required="required">
                            <option selected disabled>Koltuk Seçiniz</option>
                        </select>
                    </div>
                </div>
                <button type="submit" id="btn-bilet" class="btn-rez">Bilet Al</button>
                <br />


            </form>

        </div>
        <br />
    </div>
</div>
<br />