@model Publisher 

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Publisher Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublisherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublisherName)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublisherCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublisherCity)
        </dd>
          <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublisherMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublisherMail)
        </dd>
    </dl>
</div>
<a class="btn btn-info" asp-action="Index">Back to Publishers</a>